# Use older versions of echopype and zarr when doing concatenations:
#echopype==0.10.1
#zarr>=2,<3

# Otherwise, use the modern versions:
echopype
zarr

boto3
bokeh
dask
matplotlib
notebook
xarray[complete]
